html {
    font-size: 62.5%;
    font-family: "\5FAE\8F6F\96C5\9ED1",Tahoma;
    -webkit-tap-highlight-color:rgba(0,0,0,0);//某些anzhuo下的黃色框框 消失
    -webkit-font-smoothing: subpixel-antialiased;//字體更圓潤
    -webkit-transform: translate3d(0,0,0);//硬件加速
    text-align: justify;
    text-justify:distribute-all-lines; /*ie6-8*/
    text-align-last: justify; /* ie9*/
    -moz-text-align-last: justify; /*ff*/
    -webkit-text-align-last: justify; /*chrome 20+*/
    outline: 0;
    /* 禁止用户选中文本
    -webkit-user-select: none;
    user-select: none;
    */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100% !important;
    counter-reset: loadingvalue;/*设置载入进度值*/
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
