body{
  font-size:1.8em;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
a {
    text-decoration: none;
    color: inherit
}
p{
    text-align: justify;
    text-align-last: justify;
}
.footer{
    background: #292929;
    color: #cacaca;
    padding: 30px 0px 30px 0px;
}
.hide{
  display:none;
}
@-webkit-keyframes tohide {
    0%{
        opacity: 1
    }
    100%{
        opacity: 0
    }
}
@keyframes tohide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.tohide{
    -webkit-animation: tohide 1.5s linear forwards 1;
    -o-animation: tohide 1.5s linear forwards 1;
    animation: tohide 1.5s linear forwards 1
}
.loading_add{
    counter-increment: loadingvalue;
}
#loader{
    background-color: #2e3132;
    position: absolute;
    z-index: 9;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}
.loader {
    -webkit-animation: loading_value linear forwards .72s 0s 1 ;
    -o-animation: loading_value linear forwards .72s 0s 1 ;
    animation:loading_value linear forwards .72s 0s 1 ;
}
.loader-graph, .loader-progress {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    margin: auto;
}

.loader-graph {
    color: transparent;
    text-align: center;
    border-top: 5px solid rgba(255, 255, 255, .2);
    border-right: 5px solid rgba(255, 255, 255, .2);
    border-bottom: 5px solid rgba(255, 255, 255, .2);
    border-left: 5px solid #fff;
    border-radius: 32px;
    -webkit-animation: rotate .72s linear infinite;
    -o-animation: rotate .72s linear infinite;
    animation: rotate .72s linear infinite
}

.loader-text {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    top: 50%;
    text-align: center;
    margin-top: 3em
}

.loader-progress {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    line-height: 24px;
}
.loader-progress:after {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    line-height: 24px;
    /*content: counter(loadingvalue) "%";*/
}
