<!doctype html>
<html lang="zh-cmn-Hans">
<!--[if lt IE 7 ]>
<html class="ie6" lang="zh-cmn-Hans"><![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="zh-cmn-Hans"><![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="zh-cmn-Hans"><![endif]-->
<!--[if IE 9 ]>
<html class="ie9" lang="zh-cmn-Hans"><![endif]-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="小明">
    <meta name="viewport" content="initial-scale=2.0,maximum-scale=1,user-scalable=no">
    <meta property="author" content="codetyphon"/>
    <meta name="twitter:site" content="@codetyphon"/>
    <meta name="description" content="小明">
    <meta name="apple-mobile-web-app-title" content="小明">
    <link href="css/baselayout.css" rel="stylesheet" type="text/css">
    <script src="js/layout.js"></script>
</head>
<body>
    <div  id="wrap" class="wrap">
        自适应，保持长宽比为iphone6的尺寸。
    </div>
</body>
</html>