html{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body{
    background:url(../images/bg.jpg);
    background-size: cover;
}
.wrap{
    position: absolute;
    left: 0;
    right: 0;
    top:0 ;
    bottom: 0;
    margin: auto;
    background:rgba(255,255,255,0.5);
}
.flow{
    display: flex;
}
.row{
    /* zuoyou */
    flex-flow: row; 
}
.column{
    /* shangxia */
    flex-flow: column;
}
